* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #FFE3D9;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: #602234;
  text-align: center;
}

h1 {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  color: #35051e;
}

h1:first-of-type {
  margin-bottom: 1rem;
}

h4 {
  color: #35051e;
}

p {
  margin: auto;
  width: 65%;
  color: #35051e;
  text-align: center;
}

.navigation {
  position: fixed;
  width: 100%;
  background: #FFE3D9;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: end;
  margin-right: 1rem;
  z-index: 9999;
}
.navigation .nav {
  text-decoration: none;
}
.navigation .nav::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #D26A65;
  display: block;
  opacity: 0;
  transition: all 0.2s;
}
.navigation .nav:hover::after {
  opacity: 1;
}
.navigation .nav.active::after {
  opacity: 1;
}

.content {
  padding-top: 4rem;
  padding-bottom: 6rem;
  width: 70%;
  margin: auto;
}

.content-wrapper {
  background-color: #FFCABE;
}

.work .filter-wrapper {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.work .filter-wrapper .filter {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  font-family: "Montserrat", sans-serif;
}
.work .filter-wrapper .filter:hover {
  cursor: pointer;
}
.work .filter-wrapper .filter::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #D26A65;
  display: block;
  opacity: 0;
  transition: all 0.2s;
}
.work .filter-wrapper .filter:hover::after {
  opacity: 1;
}
.work .filter-wrapper .filter.active::after {
  opacity: 1;
}
.work .description {
  margin-bottom: 2rem;
}
.work .description.hide {
  display: none;
}
.work .gallery {
  column-count: 3;
  column-gap: 1em;
}
.work .gallery .image-wrapper.hide {
  display: none;
}
.work .gallery .image-wrapper .image {
  position: relative;
  margin-bottom: 1rem;
}
.work .gallery .image-wrapper .image img {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
.work .gallery .image-wrapper .image .thumb {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}
.work .gallery .image-wrapper .image h4 {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.work .gallery .image-wrapper .image .lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  overflow: auto;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.work .gallery .image-wrapper .image .lightbox img {
  cursor: auto;
}
.work .gallery .image-wrapper .image .lightbox .close-button {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 0.5rem;
  font-size: 4rem;
  color: white;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content {
  width: 100%;
  height: 100%;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content .secondary {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content .image-gallery {
  height: 650px;
  width: 100%;
  margin: 4rem auto;
  overflow-x: hidden;
  overflow-y: hidden;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent images from wrapping to new lines */
  cursor: grab;
  /* Set the cursor to "grab" */
  user-select: none;
  /* Disable text selection while grabbing */
  -webkit-overflow-scrolling: touch;
  /* Enable smooth scrolling on iOS */
  z-index: 1;
  text-align: center;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content .image-gallery.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content img.secondary {
  height: auto;
  width: auto;
  display: inline-block;
  /* Display images in a row */
  margin-left: 1em;
  margin-right: 1em;
  /* Add some spacing between images */
  cursor: grab;
}
.work .gallery .image-wrapper .image .lightbox .lightbox-content p.secondary {
  bottom: 2rem;
  width: 60%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}
.work .gallery .image-wrapper .thumb:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.contact {
  padding-bottom: 1.5rem;
  margin-right: 1rem;
}
.contact h3 {
  text-align: right;
}

.image-wrapper,
.description {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper.active,
.description.active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 85%;
  }
  .work .gallery {
    column-count: 2;
  }
  .work .gallery .image-wrapper .image .lightbox .lightbox-content p.secondary {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
  .nav h3 {
    font-size: 1em;
  }
  .filter-wrapper {
    flex-wrap: wrap;
  }
  p {
    width: 95%;
  }
  .work .gallery {
    column-count: 1;
  }
  .work .gallery .image-wrapper .image .lightbox .lightbox-content p.secondary {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
